body{
    text-align: center;
    color: deeppink;
    font-family: Arial, Helvetica, sans-serif;
}
#parrafo{
    color: slategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}